.container {
  width: 250px;
  height: 250px;
  position: relative;
  margin: 50px auto;
  border: 1px solid $mainBorderColor;

  &__first {
    z-index: 4;
    @include paperList;
  }
  &__second {
    z-index: 3;
    @include paperList;
    top: 2px;
  }
  &__third {
    z-index: 2;
    @include paperList;
    top: 4px;
  }
  &__third {
    z-index: 1;
    @include paperList;
    top: 6px;
  }
}

.taskList {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;

  &-wrapper {
    width: 251px;
    height: 241px;
    position: absolute;
    left: 50%;
    top: 50%;
    /*transform: translate(-50% ,-50%);*/
  }

  &-item {
    width: 250px;
    height: 30px;
    border-bottom: 1px solid $mainBorderColor;
    color: $textColor;
    input[type=checkbox] {
      visibility: hidden;
      opacity: 0;
      height: 0;
      width: 0;

      &:checked + .taskList-item__checkbox {
        border-color: $mainBorderColor;
        background: $mainBorderColor;
      }
    }

    &__checkbox {
      width: 17px;
      height: 17px;
      display: inline-block;
      border: 1px solid $borderColor;
      margin: 5px 5px -5px;
    }

    &__text {
      @include fontSize(12);
      margin-left: 10px;
    }
  }
}

.taskList-item:first-child {
  height: 40px;
}

.taskList-item:last-child {
  height: 45px;
}

.far, .fas {
  color: $textColor;
  @include fontSize(12);
}
.fas:hover .popup {
  visibility: visible;
}
.icon {
  display: inline-block;
  margin: 10px;
}
.icon:last-child {
  margin-left: 100px;
}
.popup {
  position: absolute;
  width: 60px;
  height: 25px;
  background: #555555;
  text-align: center;
  color: #eeeeee;
  visibility: hidden;
}
button {
  margin: 10px;
  font-weight: bold;
}

button:first-child {
  float: left;
  width: 70px;
  height: 25px;
  border: none;
  background: none;
  color: #dadadc;
  font-size: 10px;
  margin-left: 45px;
}
button:last-child {
  float: right;
  width: 70px;
  height: 25px;
  color: #687080;
  border: none;
  background: #f1f0f0;
  border-radius: 5px;
}




