a {
  color: #c8cace;
}

.container {
  width: 250px;
  height: 250px;
  position: relative;
  margin: 50px auto;
  border: 1px solid $mainBorderColor;

  &__first {
    z-index: 4;
    @include paperList;
    height: 250px;
  }
  &__second {
    z-index: 3;
    @include paperList;
    top: 2px;
    height: 251px;
  }
  &__third {
    z-index: 2;
    @include paperList;
    top: 4px;
    height: 252px;
  }
  &__forth {
    z-index: 1;
    @include paperList;
    top: 6px;
    height: 253px;
  }
}

.taskList {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;

  &-wrapper {
    width: 251px;
    height: 241px;
    position: absolute;
    /*left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);*/
  }

  &-item {
    width: 250px;
    height: 32px;
    border-bottom: 1px solid $mainBorderColor;
    color: $textColor;
    input[type=checkbox] {
      visibility: hidden;
      opacity: 0;
      height: 0;
      width: 0;

      &:checked + .taskList-item__checkbox {
        border-color: $mainBorderColor;
        background: $mainBorderColor;
      }
    }

    &__checkbox {
      width: 17px;
      height: 17px;
      display: inline-block;
      border: 1px solid $borderColor;
      margin: 5px 5px -5px;
    }

    &__text {
      @include fontSize(12);
      margin-left: 10px;
    }
  }
}

.taskList-item:first-child {
  height: 40px;
}

.taskList-item:last-child {
  height: 45px;
}

div a .fa-trash-alt:hover .popup {
  display: block;
}
.icon {
  display: inline-block;
  width: 16px;
  display: inline-block;
  margin: 9px;
}
.icon:last-child {
  margin-left: 100px;
}
.popup {
    position: absolute;
    width: 55px;
    height: 15px;
    background: #555555;
    text-align: center;
    color: #eeeeee;
    display: none;
    margin: -60px 0px 0 -27px;
    font-size: 12px;
    padding: 8px;
}
button {
    font-weight: bold;
    position: absolute;
    margin: 4px 20px;
    background: none;
    border: none;
    color: grey;
}

button:first-child {
  margin: 4px 0px;
}
.fa-chevron-circle-left{
    color: #d7d8da;
    width: 16px;
    position: absolute;
    margin: 5px;
}
.fa-chevron-circle-right{
    color: #a1a3a8;
    width: 16px;
    position: absolute;
    margin: 5px 0 5px 38px;
}
.prew{
display: inline-block;
    width: 60px;
    height: 20px;
    margin-bottom: 16px;
    margin-left: 48px;
    margin-right: 30px;
}
.next{
    display: inline-block;
    width: 60px;
    height: 25px;
    margin: 10px 0 12px 32px;
    background: #f1f0f0;
    border-radius: 5px;
}


