@mixin randomColorGenerate($count: 6) {
  @for $i from 1 through $count {
    #{$i} {
      color: #ffcc1 + #{$i};
      font-size: (24 - $i) + px;
    }
  }
}

@mixin taskList {
	display: inline-block;
    width: 100px;
    height: 40px;
    background: $backColor;
    border-radius: 5px;
    box-shadow: 1px 1px grey;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    margin: 0 5px;
    font-size: $mainSize;
  	font-family: $fontFamily;
  	color: $textColor;
}

@mixin rulesItem {
	font-size: 12px;
  	color: #9c5c83;
}

@mixin containerItem {
	display: block;
	width: 33%;
	height: 30px;
	margin: 10px;
	color: $backColor;
	font-size: $mainSize;
  	font-family: $fontFamily;
  	box-shadow: 1px 1px 1px 1px rgba(134, 108, 108, 0.5);
}





