body{
	text-transform: uppercase;
	color: #000;
	text-align: center;
	font-size: 20px;
}
.container{
    display: grid;
    grid-template-columns: 100px 15fr 6fr;
    grid-template-rows: 100px 300px 150px;
}
.common{
    display: grid;
    align-items: center;
    justify-content: center;
}
.container div{
	border: 1px solid #000;
}
.yellow{
	background: #f0be2d;
}
#logo{
	grid-column-start: 1;
  	grid-column-end: 2;
}
.menu{
	background: #f40f0e;
	grid-column-start: 2;
  	grid-column-end: 4;
  	grid-row-start: 1;
  	grid-row-end: 2;
}

.news{
	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 2;
  	grid-row-end: 3;
	background: #ac4c4c;
	color: #fff;
}
#list{
	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 2;
  	grid-row-end: 3;
}
.nav{
	background: #333333;
	color: #fff;
	grid-column-start: 3;
  	grid-column-end: 4;
  	grid-row-start: 2;
  	grid-row-end: 4;
}
#footer{
	grid-column-start: 1;
  	grid-column-end: 3;
  	grid-row-start: 3;
  	grid-row-end: 4;
}
