body{
  background-color: #484a47;
  font-size: 21px;
}
.md__modal{
  position: fixed;
  left: 31%;
  top: 31%;
  width: 50%;
  min-width: 250px;
  max-width: 500px;
  height: auto;
  animation: fade 10s linear;
  opacity: 0;
}
@keyframes fade{
  0% {opacity: 0;}
  39% {opacity: 0;}
  40% {opacity: 1;}
  90% {opacity: 1;}
  91% {opacity: 0;}
  100% {opacity: 0;}
}
.md__content {
    background: #272822;
    border: 2px solid #60d9f1;
    min-height: 100%;
    position: relative;
}
h1{
  color: #fff;
  padding: 15px;
}
p{
  color: #fa1e6f;
  padding: 25px;
}
button{
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: none;
    border: none;
    color: #60d9f1;
    font-weight: bold;
    position: absolute;
    left: 100%;
    bottom: 105%;
}



















