.wrap{
  display: flex;
  justify-content: space-around;
}
.container{
margin-top: 250px;
}
.line{
  border-bottom: 5px solid #82c91d;
  width: 125px;
  height: 0;
}
.box{
  width: 125px;
  height: 100px;
  background-color: #be4cdb;
  position: relative;
}
.icon{
  display: block;
  position: absolute;
  margin: 10px 25px; 
  z-index: -1;
  transition: transform 2s 2s linear;
}
.far{
  font-size: 5rem;
  color: #516edc;
}
.container:hover .line{
  transform: translateY(-150px);
  transition: transform 2s linear;
  transform-origin: left bottom;
  transform: rotateZ(-90deg);
}
.container:hover .icon{
  margin-bottom: 100px; 
  transform: translateY(-120px);
}

