.container {
  margin: 250px;
  height: 250px;
  position: relative;
  margin: 50px auto;
  border: $mainBorderColor;

  &__first {
    z-index: 4;
    @include paperList;
  }
  &__second {
    z-index: 3;
    @include paperList;
  }
  &__third {
    z-index: 2;
    @include paperList;
  }
  &__third {
    z-index: 1;
    @include paperList;
  }
}

.taskList {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;

  &-wrapper {
    width: 251px;
    height: 241px;
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
  }

  &-item {
    width: 245px;
    height: 30px;
    border-bottom: 1px solid $borderColor;
    border-left: 1px double $verticalLinesColor;
    input[type=checkbox] {
      visibility: hidden;
      opacity: 0;
      height: 0;
      width: 0;

      &:checked + .taskList-item__checkbox {
        border-color: $mainBorderColor;
        background: $mainBorderColor;
      }
    }

    &__checkbox {
      width: 17px;
      height: 17px;
      display: inline-block;
      border: 1px solid $borderColor;
    }

    &__text {
      @include fontSize(12);
    }
  }
}

.far {
  @include $textColor(#999999);
  @include fontSize(12);
}
.icon {
  display: inline-block;
  margin: 10px;
}
.icon:last-child {
  margin-left: 100px;
}
.popup {
  position: absolute;
  width: 60px;
  height: 25px;
  background: #555555;
  text-align: center;
  color: #eeeeee;
}
button {
  margin: 10px;
}

button:first-child {
  float: left;
  width: 70px;
  height: 25px;
}
button:last-child {
  float: right;
  width: 70px;
  height: 25px;
}




