$baseSize: 16;

@mixin fontSize($size: 14) {
  font-size: ($size / $baseSize) + rem;
}

%greyBorder {
  border: 1px solid $mainBorderColor;
}

@mixin randomColorGenerate($count: 6) {
  @for $i from 1 through $count {
    h#{$i} {
      color: #ffcc1 + #{$i};
      font-size: (24 - $i) + px;
    }
  }
}

@mixin paperList {
	position: absolute;
	background: none;
	box-shadow: 1px 1px #a8a6a6;
  width: 250px;
  border-bottom: 1px solid $mainBorderColor;
}
