body{
  background-color: #484a47;
  font-size: 21px;
}
.wrapper {
    text-align: center;
}
.button {
    position: absolute;
    top: 50%;
    left: 50%;
}
.modal{
  background: #272822;
  border: 1px solid #60d9f1;
  width: 450px;
  height: 200px;
  margin: 5% auto; 
  text-align: center;
  color: #60d9f1;
  opacity: 0;
  transition: opacity;
  transition-duration: 3s;
  transition-delay: 0.5s; 
  transition-timing-function: ease;
}
button:hover ~ .modal{
  opacity: 1;
}


















