<li class="taskList-item">
  <input type="checkbox" id="taskList-item1" >
  <label class="taskList-item__checkbox" for="taskList-item1"></label>

  {% include "src/taskList/tmpl/settings.html" %}

</li>

<li class="taskList-item">
  <input type="checkbox" id="taskList-item2" >
  <label class="taskList-item__checkbox" for="taskList-item2"></label>

  <span class="taskList-item__text">
    Play soccer with friends
  </span>
</li>

<li class="taskList-item">
  <input type="checkbox" id="taskList-item3" >
  <label class="taskList-item__checkbox" for="taskList-item3"></label>

  <span class="taskList-item__text">
    Open Photoshop
  </span>
</li>

<li class="taskList-item">
  <input type="checkbox" id="taskList-item4" >
  <label class="taskList-item__checkbox" for="taskList-item4"></label>

  <span class="taskList-item__text">
    Finish client work
  </span>
</li>

<li class="taskList-item">
  <input type="checkbox" id="taskList-item5" >
  <label class="taskList-item__checkbox" for="taskList-item5"></label>

  <span class="taskList-item__text">
    Give avay some PSD
  </span>
</li>

<li class="taskList-item">
  <input type="checkbox" id="taskList-item6" >
  <label class="taskList-item__checkbox" for="taskList-item6"></label>

  <span class="taskList-item__text">
    Post a new photo to Dribbble
  </span>
</li>

<li class="taskList-item">
  
  {% include "src/taskList/tmpl/buttons.html" %}

</li>









