@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css";

button:first-child {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;

    &:focus {
      color: $backColor;
    }
    &:active {
      color: $buttonBackColor;
    }
    &:hover{
      color: $buttonBackActiveColor;
    }
}
  
.tasks__item {
    @include taskList;

    &-text {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
}

@mixin font-smoothing() {
    // Font antialising on Mac OS X
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rules__item {
  @include rulesItem;
}

@for $i from 1 through 6 {
   .item-#{$i} {
      font-size: 12px * $i;
      color: #432839 * $i;
   }
}

.messenger-icons {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: block;
        margin: 10px 0.25em;
    }

    span {
        margin: 10px;
        font-weight: bold;
    }
  .blackText{
    color: #000;
    margin-left: 0;
  }
    a {
        display: block;
        width: 20em;
        height: 3em;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px rgba(74, 97, 79, 0.2);
        text-decoration: none;
        color: white;
        text-align: left;
        padding: 20px;

        &:before {
            font: 1.5em/1.75 "FontAwesome";
            @include font-smoothing();
        }

        $icons: (
            check:                (char: "\f00c", color: #70b771),
            info-circle:          (char: "\f05a", color: #55abc7),
            exclamation-triangle: (char: "\f071", color: #faa922),
            shield:               (char: "\f132", color: #cb5f55),
            custom:               (color: #fff)
        );

        @each $messenger, $icon in $icons {
            &[href*="#{$messenger}"] {
                background-color: map-get($icon, color);

                &:before {
                    content: map-get($icon, char);
                }
            }
        }
    }
}

.stair {
  border-top: 5px solid #000;
  border-right: 5px solid #000;
  width: 25px;
  height: 15px;
}

@for $i from 1 through 10 {
   .stair-#{$i} {
      margin-left: 25px * $i;
   }
}

.container__item{
    @include containerItem;

    &-text{
        padding: 7px;
        display: block;
    }
}


.colorful {
  width: 50%;
  height: 50px;
  list-style: none;
}

@for $i from 1 through 15 {
  .colorful:nth-child(2n) {
    background: blue;
  }
}

@for $i from 1 through 15 {
  .colorful:nth-child(2n-1) {
    background: yellow;
  }
}

@for $i from 1 through 15 {
  .colorful:nth-child(5n) {
    background: black;
  }
}

@for $i from 1 through 15 {
  .colorful:nth-child(8n) {
    background: green;
  }
}

$themes: (
  theme1: theme-small,
  theme2: theme-middle,
  theme3: theme-big
);

@function setStyle($map, $object, $style) {
  @if map-has-key($map, $object) {
    @return map-get(map-get($map, $object), $style);
  }
}

$config: (
  theme1: (
    background: #1d1e22,
    color: #fff,
    width: 50px
  ),
  theme2: (
    background: #666,
    color: #ddca7d,
    width: 75px
  ),
  theme3: (
    background: #f2f2f2,
    color: #000,
    width: 100px
  )
);

.button {
  @each $key, $value in $themes {
    @if map-has-key($config, $key) {
      .#{$value} & {
        background: setStyle($config, $key, background);
        color: setStyle($config, $key, color);
        width: setStyle($config, $key, width);
      }
    }
  }
}

.button {
  display: block;
  text-decoration: none;
  padding: 1em 2em;
  border-radius: .3em;
  margin: .5em;
}

section {
  display: inline-block;
}
