:root {
--color_1: #231A31;
--color_2: #E42F45;
--color_3: #8AB2FF;
--color_4: #F1C40F;
--color_5: #B7569A;
--color_6: #E4F091;
--color_7: #085F63;
--color_8: #887575;
}
div p:not(:first-child){
  background-color: var(--color_1);
} /*div p+p*/

p[class="active"]~h2{
    background-color: var(--color_2);
}

div h2:nth-child(3n){
  background-color: var(--color_3);
} /*Why it's wrong? Please, argue to me, because I don't understand. Thanks */

body h2{
  background-color: var(--color_4);
}
